---
---
@import "variables";
@import "normalize";
@import "layout";
@import "post";

html, body { height: 100%; }

body {
  background-color: $light-bg;
  color: $dark-clr;
  font-size: 16px;
  font-family: $main-font-family;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  font-weight: 100;
}

a {
  &:link {
    text-decoration: none;
  }

  &:visited {
    color: inherit;
  }

  &:hover {
    text-decoration: underline;
  }
}

time {
  color: $light-clr;
}

.icn-home {
  margin-top: 50px;
  text-align: center;

  img {
    width: 40px;
  }
}
