---
---
@import "variables";
@import "normalize";
@import "layout";
@import "post";

$bg: #f7f7f7;

html, body { height: 100%; }

body {
  background-color: #f7f7f7;
  color: #333;
  font-size: 18px;
}

p {
  margin: 1.5em 0;
}

a {
  &:link {
    text-decoration: none;
  }

  &:visited {
    color: inherit;
  }

  &:hover {
    text-decoration: underline;
  }
}

time {
  color: $light-clr;
}

.go-home {
  margin-top: 50px;
  text-align: center;

  img {
    width: 50px;
  }
}
