.nav {
  ul {
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;

    li {
      float: right;
      padding-left: 2em;
    }

    a {
      color: inherit;
      position: relative;
      overflow: visible;

      &.active {
        color: $lilly;

        &:after {
          content: '.';
          position: absolute;
          color: $lilly;
          font-size: 30px;
        }
      }
    }
  }
}

.container {
  padding: 1px 15%;
}

.btn {
  padding: 0;
  margin: 0;
  background-color: #222;
  color: white;
}

.col-4 {
  float: left;
  width: 25%;
}
