.container {
  padding: 1px 15%;
}

/* Sections */
.section-blue {
  background-color: $light-blue;
  color: $white;
  color: $darkest-blue;

  h1, h2, h3, h4, h5, h6 {
    color: $white;
  }

  a {
    text-decoration: underline;
    color: $white;
  }
}

.section-purple {
  background-color: $lighter-lilly;
  color: $darkest-lilly;

  h1, h2, h3, h4, h5, h6 {
    color: #446;
    font-weight: 700;
  }
}

.section-grey {
  background-color: $black-blue;
  color: $light-grey;

  h1, h2, h3, h4, h5, h6 {
    color: $light-blue;
  }

  a {
    color: $light-blue;
  }
}

.section-white {
  background-color: $white;

  h1, h2, h3, h4, h5, h6 {
    color: $light-blue;
  }
}

/*Introduction block*/

.intro, .outro {
  @include container;
  text-align: center;
  font-size: 1.5em;

  a {
    text-decoration: underline;
  }

  hgroup {
    h1 {
      color: $dark-grey;
    }

    h2 {
      color: $light-blue;
    }
  }

  p {
    color: $grey;
  }
}

// Misc

.nav {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;

    li {
      float: right;
      padding-left: 2em;
    }

    a {
      color: inherit;
      position: relative;
      overflow: visible;

      &.active {
        color: $light-blue;
        font-weight: 600;
      }
    }
  }
}

