.articles, .projects {
  @include reset-list;

  li {
    margin-bottom: 2em;

    time {
      display: block;
      margin-top: -1em;
    }
  }
}

.article, .page {
  header {
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 2em;

    p {
      text-align: left;
      font-family: $raleway;
      color: $grey-light;
    }

    time {
      display: block;
      margin-top: -1em;
    }
  }
}

.article, .page {
  footer {
    margin-top: 2em;
    text-align: center;

    a {
      @include button;
    }
  }
}

.projects {
  img {
    float: left;
    margin-right: 2em;
  }

  .preview {
    margin: 5em 0;
    p {
      margin-left: 152px;
    }
  }
}

.page-index {
  footer {
    a:first-child {
      margin-right: 3em;
    }
  }
}
