.page, .article {
  footer {
    margin: 3em auto;
  }
}

.article {
  footer {
    margin: 1em auto;
    text-align: center;

    a { @include button; }
  }
}

.page-intro {
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 1em;

  p {
    text-align: left;
    font-family: $raleway;
    color: $grey-light;
  }

  h2 {
    margin-bottom: 0;
  }

  time {
    display: block;
    font-size: .7em;
  }
}

.list {
  @include reset-list;

  li {
    margin: 3em auto;

    &:first-child {
      margin-top: 2em;
    }
  }
}

.list-articles {
  h2 {
    margin-bottom: 0;
  }
  p {
    margin: 1em auto;
  }
}

.list-projects {
  li img {
    float: left;
    margin-right: 2em;
  }
}

.tiles {
  @include reset-list;

  .tile {
    float: left;
    width: 45%;

    &:first-child {
      margin-right: 10%;
    }

    img {
      display: block;
      margin: 0 auto;
    }

    a {
      @include button;
      display: block;
      text-align: center;
    }
  }
}

.articles, .projects {
  time {
    display: block;
    margin-top: -1em;
  }
}
