$margin-top: 45px;

.Profile {
  position: fixed;
  top: 0;
  bottom: 0;
  border-right: 2px solid $grey-lightest;
  width: 25%;
  padding: 5%;
  padding-top: 200px;
  text-align: center;
  font-size: 1.2em;

  header {
    position: absolute;
    top: $margin-top;
    left: 0;
    right: 0;

    h1, h2 {
      display: inline-block;
      margin-bottom: 0;
      margin-top: 0;
      font-size: 1em;
    }

    h1:after {
      content: ', ';
    }

    h2 {
      color: $grey-light;
      font-weight: 400;
    }

  }

  footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    font-size: .8em;
    color: $grey-light;
    font-weight: 100;

    ul {@include inline-list;}
    a {color: $grey-light;}
  }

  p {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 45%;
    padding: 1em 30%;

    img {
      display: block;
      width: 50%;
      margin: 10px auto;
    }
  }
}

.Content {
  @include container;
  margin-top: $margin-top;
  font-weight: 100;
}

.Preview {
  position: relative;
  padding: 2em 0;
  border-bottom: 1px solid $grey-lightest;

  &:first-child {
    border-top: 1px solid $grey-lightest;
  }

  time {
    position: absolute;
    top: -.6em;
    right: 100%;
    width: 10em;
    font-size: .8em;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.Post {
  h2 {
    color: $grey;
  }

  time {
    color: $grey-light;
  }
}
