.site-header, .site-footer {
  @include container;
  font-family: $header-font-family;
  text-transform: uppercase;
  font-size: .8em;
  text-align: center;

  ul { @include inline-list;}

  a {
    color: $black;
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }

  .logo {
    transition: all 1s;
    &:hover {
      -webkit-transform: scale(.7) rotate(1800deg);
    }
  }
}

.site-footer {
  font-family: $main-font-family;
  text-transform: none;
  a { color: $grey-light; }
}

.site-content {
  @include container;
}
