$white: #fff;
$black: #223;

$grey: #556;
$grey-light: #aab;
$grey-lightest: #eee;

$blue: #29f;
$blue-dark: #37d;

$yellow: #fd0;

/*Font Families*/

$arvo: "Arvo", "Cambria", serif;
$raleway: "Raleway", Georgia, serif;
$sourcesans: "Source Sans Pro", Arial, sans-serif;
$roboto: Roboto, "Source Sans Pro", sans-serif;

/* Blocks */

@mixin clear {
  &:after {
    content: ' ';
    display: block;
    clear: both;
  }
}

@mixin container {
  overflow: hidden;
  max-width: 720px;
  min-width: 480px;
  padding: 1em 10%;
  padding-left: 35%;
  margin: 0 auto;
}

@mixin reset-anchor {
  text-decoration: none;

  &:link, &:hover { text-decoration: none; }
}

@mixin reset-list {
  @include reset-anchor;

  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin reset-block {
  display: block;
  padding: 0;
  margin: 0;
}

@mixin inline-list {
  @include reset-list;
  li {
    display: inline-block;
    margin-left: 1em;
    vertical-align: middle;
  }
}

@mixin button {
  display: inline-block;
  border: 1px solid $blue;
  padding: .5em 1em;
  border-radius: 5px;
  color: $blue;

  &:hover {
    border-color: $blue-dark;
    color: $blue-dark;
    text-decoration: none;
  }
}
