@import "normalize";

body {
  font-size: 1.1em;
  font-family: $sourcesans;
  font-weight: 400;
  color: $grey;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $raleway;
  font-weight: 600;
  color: $black;
}

footer {
  @include clear;
}

p {
  margin: 2em auto;
}

ul { list-style-type: square; }

a {
  color: $blue;
  &:link {
    text-decoration: none;
    color: $blue;
  }

  &:visited {
    color: $blue-dark;
  }

  &:hover, &:active {
    color: $blue;
    text-decoration: underline;
  }
}

blockquote {
  font-size: 1.2em;
  font-style: italic;
  color: $grey-light;
}
