.site {
  margin: 0 auto;
}

.header {
  position: relative;
  overflow: hidden;
  padding: 1em 10%;
  text-transform: uppercase;
  border-bottom: 1px solid #222;
  font-weight: 100;
  font-size: 14px;

  img {
    width: 10px;
  }

  a {
    display: block;
    color: #666;

    &.active, &:hover {
      color: #fff;
    }

    &.active:after {
      content: '.';
      float: left;
      position: relative;
      left: 26px;
      margin: -20px 0;
      font-size: 50px;
      color: cyan;
    }
  }

  .nav-site {
    ul li {
      float: right;
    }
  }
}

.intro {
  text-align: center;
  font-size: 2em;

  em {
    color: #aaa;
    font-style: normal;
  }
}

.content {
  margin: 1em auto;
}

.posts {
  list-style: none;

  li {
    padding: 1em 0;
    border-bottom: 1px dashed $light-clr;

    h3 {
      font-size: 1.5em;
    }

    &:last-child {
      border-bottom: none;
    }

    a {
      color: $dark-clr;
    }

    time {
      display: block;
      // margin: 0.5em 0;
      // font-size: 0.5em;
    }
  }

}

.footer {
  padding: 0.5em 0;
  color: $light-clr;
  font-size: 0.8em;
  text-align: center;
}

// About

.about {
  overflow: auto;
  margin: 0 auto;
  padding: 100px 20%;

  h2 {
    font-size: 2em;
  }

  em {
    font-style: normal;
  }

  img {
    float: right;
    max-width: 100%;
  }
}

#about-ruby {
  em {
    color: red;
  }
}

#about-design {
  background-color: orange;
  img {
    float: left;
  }
}

#about-writing {
}
