.post {
  .post-header {
    text-align: center;
    margin-bottom: 2em;

    .post-img {
      width: 250px;
      margin-bottom: 2em;
      margin: 2em 0;
    }

    .post-title {
      margin: .3em 0;
      font-size: 2.5em;
    }

    .post-meta {
      margin: 0;
      font-size: 1em;
    }
  }

  .intro {
    font-size: 1.1em;
    font-weight: 100;
    font-family: $header-font-family;
  }
}


.posts-nav {
  overflow: hidden;
  margin: 2em 0;
  font-weight: bold;

  .posts-nav-next {
    float: right;
  }

  .posts-nav-prev {
    float: left;
  }
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
