// Colors

$bg: #333;
$dark-bg: #111;
$light-bg: #f9f9f9;
$header-bg: #ffe991;

$dark-clr: #eee;
$light-clr: #eee;
$medium-light-clr: #ccc;
$very-light-clr: #f1f1f1;

$header-font-family: "Arvo", 'Avenir Bold', Georgia, serif;
$main-font-family: "Avenir", "Raleway", 'Proxima Nova Regular', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
