// Colors

$bg: #333;
$dark-bg: #333;
$light-bg: #f9f9f9;
$header-bg: #ffe991;

$dark-clr: $bg;
$light-clr: #999;
$medium-light-clr: #ccc;
$very-light-clr: #f1f1f1;

$header-font-family: 'Museo Slab', 'Segoe UI Bold', 'Avenir Bold', Georgia, serif;
$main-font-family: 'Source Sans Pro', 'Proxima Nova Regular', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
